version: '2'
services:
  sulfurous-sb3tosb2:
    build: ./sb3tosb2
    volumes:
      - ./sb3tosb2/src:/work/src
      - ./sb3tosb2/sb2:/work/sb2
      - ./sb3tosb2/sb3:/work/sb3
    container_name: sulfurous-sb3tosb2
  sulfurous-backend:
    image: "node:10-alpine"
    user: "root"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=production
      - ISSULFSERVER=true
    ports:
      - "8082:8082"
    volumes:
      - ./backend:/home/node/app
      - ./sb3tosb2/sb3:/home/node/app/sb3
      - ./sb3tosb2/sb2:/home/node/app/sb2
      - ./backend/ssl:/home/node/app/ssl
    command: "npm start"
    container_name: sulfurous-backend
    restart: unless-stopped
